openapi: 3.0.3
info:
  title: freee API (Accounting and HR/Payroll) Account Items Journals API
  description: 'A representative, hand-authored subset of the public freee REST APIs for the freee Accounting product (会計freee) and the freee HR & Payroll product (人事労務freee). freee is a Japanese cloud accounting, invoicing, and HR / payroll SaaS. Accounting endpoints live under https://api.freee.co.jp/api/1 and HR / payroll endpoints under https://api.freee.co.jp/hr/api/v1. All requests are authenticated with an OAuth 2.0 (authorization code) access token sent as `Authorization: Bearer <access_token>`. Most reads and writes are scoped to a freee company via the `company_id` parameter. This document is grounded in freee''s own OpenAPI schemas (github.com/freee/freee-api-schema) but is a curated subset - it does not reproduce every operation, field, or response of the freee platform. See the official reference for the complete surface.'
  version: '2026-02-01'
  contact:
    name: freee Developers Community
    url: https://developer.freee.co.jp/
  license:
    name: © Since 2013 freee K.K.
    url: https://app.secure.freee.co.jp/developers/terms
servers:
- url: https://api.freee.co.jp
  description: freee production API host (accounting under /api/1, HR under /hr/api/v1)
security:
- oauth2:
  - read
  - write
tags:
- name: Journals
  description: Journals (仕訳帳), manual journals, and trial-balance reports.
paths:
  /api/1/journals:
    get:
      operationId: getJournals
      tags:
      - Journals
      summary: Request a journals export
      description: Starts an asynchronous export of journals (仕訳帳) for a company in CSV, PDF, or freee's yayoi format. Poll the reports status / download endpoints for the generated file.
      parameters:
      - $ref: '#/components/parameters/CompanyIdQueryRequired'
      - name: download_type
        in: query
        schema:
          type: string
          enum:
          - csv
          - pdf
          - yayoi
          - generic_v2
      - name: start_date
        in: query
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        schema:
          type: string
          format: date
      responses:
        '202':
          description: The export request was accepted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  journals:
                    type: object
                    properties:
                      id:
                        type: integer
                      company_id:
                        type: integer
                      download_type:
                        type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/1/manual_journals:
    get:
      operationId: getManualJournals
      tags:
      - Journals
      summary: List manual journals
      description: Lists manual journal entries (振替伝票) for a company.
      parameters:
      - $ref: '#/components/parameters/CompanyIdQueryRequired'
      responses:
        '200':
          description: A list of manual journals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  manual_journals:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createManualJournal
      tags:
      - Journals
      summary: Create a manual journal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - company_id
              - issue_date
              - details
              properties:
                company_id:
                  type: integer
                issue_date:
                  type: string
                  format: date
                details:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
      responses:
        '201':
          description: The created manual journal.
          content:
            application/json:
              schema:
                type: object
                properties:
                  manual_journal:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/1/reports/trial_pl:
    get:
      operationId: getTrialPl
      tags:
      - Journals
      summary: Get profit and loss trial balance
      description: Returns the profit-and-loss trial balance (試算表・損益計算書) for a company.
      parameters:
      - $ref: '#/components/parameters/CompanyIdQueryRequired'
      - name: fiscal_year
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: The P&L trial balance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  trial_pl:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid OAuth 2.0 Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        status_code:
          type: integer
        errors:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              messages:
                type: array
                items:
                  type: string
  parameters:
    CompanyIdQueryRequired:
      name: company_id
      in: query
      required: true
      description: The freee company (事業所) ID the request is scoped to.
      schema:
        type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'freee unified OAuth 2.0. Obtain an access token via the authorization code grant and send it as `Authorization: Bearer <access_token>` on every request. The same token works across freee products (accounting, HR/payroll, invoicing) subject to the granted scopes.'
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.secure.freee.co.jp/public_api/authorize
          tokenUrl: https://accounts.secure.freee.co.jp/public_api/token
          scopes:
            read: データの読み取り (read data)
            write: データの書き込み (write data)
