openapi: 3.0.3
info:
  title: freee API (Accounting and HR/Payroll) Account Items Wallet Transactions API
  description: 'A representative, hand-authored subset of the public freee REST APIs for the freee Accounting product (会計freee) and the freee HR & Payroll product (人事労務freee). freee is a Japanese cloud accounting, invoicing, and HR / payroll SaaS. Accounting endpoints live under https://api.freee.co.jp/api/1 and HR / payroll endpoints under https://api.freee.co.jp/hr/api/v1. All requests are authenticated with an OAuth 2.0 (authorization code) access token sent as `Authorization: Bearer <access_token>`. Most reads and writes are scoped to a freee company via the `company_id` parameter. This document is grounded in freee''s own OpenAPI schemas (github.com/freee/freee-api-schema) but is a curated subset - it does not reproduce every operation, field, or response of the freee platform. See the official reference for the complete surface.'
  version: '2026-02-01'
  contact:
    name: freee Developers Community
    url: https://developer.freee.co.jp/
  license:
    name: © Since 2013 freee K.K.
    url: https://app.secure.freee.co.jp/developers/terms
servers:
- url: https://api.freee.co.jp
  description: freee production API host (accounting under /api/1, HR under /hr/api/v1)
security:
- oauth2:
  - read
  - write
tags:
- name: Wallet Transactions
  description: Wallet transactions / statement lines (明細) and walletables (口座).
paths:
  /api/1/wallet_txns:
    get:
      operationId: getWalletTxns
      tags:
      - Wallet Transactions
      summary: List wallet transactions
      description: Lists wallet transactions / statement lines (明細) for a company.
      parameters:
      - $ref: '#/components/parameters/CompanyIdQueryRequired'
      - name: walletable_type
        in: query
        schema:
          type: string
          enum:
          - bank_account
          - credit_card
          - wallet
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A list of wallet transactions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallet_txns:
                    type: array
                    items:
                      $ref: '#/components/schemas/WalletTxn'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createWalletTxn
      tags:
      - Wallet Transactions
      summary: Create a wallet transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - company_id
              - entry_side
              - amount
              - date
              - walletable_type
              - walletable_id
              properties:
                company_id:
                  type: integer
                entry_side:
                  type: string
                  enum:
                  - income
                  - expense
                amount:
                  type: integer
                date:
                  type: string
                  format: date
                walletable_type:
                  type: string
                  enum:
                  - bank_account
                  - credit_card
                  - wallet
                walletable_id:
                  type: integer
      responses:
        '201':
          description: The created wallet transaction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallet_txn:
                    $ref: '#/components/schemas/WalletTxn'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/1/wallet_txns/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      operationId: getWalletTxn
      tags:
      - Wallet Transactions
      summary: Get a wallet transaction
      parameters:
      - $ref: '#/components/parameters/CompanyIdQueryRequired'
      responses:
        '200':
          description: The requested wallet transaction.
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallet_txn:
                    $ref: '#/components/schemas/WalletTxn'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWalletTxn
      tags:
      - Wallet Transactions
      summary: Delete a wallet transaction
      parameters:
      - $ref: '#/components/parameters/CompanyIdQueryRequired'
      responses:
        '204':
          description: The wallet transaction was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/1/walletables:
    get:
      operationId: getWalletables
      tags:
      - Wallet Transactions
      summary: List walletables
      description: Lists walletables (口座) - bank accounts, credit cards, and wallets - for a company.
      parameters:
      - $ref: '#/components/parameters/CompanyIdQueryRequired'
      - name: type
        in: query
        schema:
          type: string
          enum:
          - bank_account
          - credit_card
          - wallet
      responses:
        '200':
          description: A list of walletables.
          content:
            application/json:
              schema:
                type: object
                properties:
                  walletables:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid OAuth 2.0 Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        status_code:
          type: integer
        errors:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              messages:
                type: array
                items:
                  type: string
    WalletTxn:
      type: object
      properties:
        id:
          type: integer
        company_id:
          type: integer
        date:
          type: string
          format: date
        amount:
          type: integer
        entry_side:
          type: string
          enum:
          - income
          - expense
        walletable_type:
          type: string
          enum:
          - bank_account
          - credit_card
          - wallet
        walletable_id:
          type: integer
        description:
          type: string
  parameters:
    CompanyIdQueryRequired:
      name: company_id
      in: query
      required: true
      description: The freee company (事業所) ID the request is scoped to.
      schema:
        type: integer
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
    PathId:
      name: id
      in: path
      required: true
      description: The numeric identifier of the resource.
      schema:
        type: integer
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'freee unified OAuth 2.0. Obtain an access token via the authorization code grant and send it as `Authorization: Bearer <access_token>` on every request. The same token works across freee products (accounting, HR/payroll, invoicing) subject to the granted scopes.'
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.secure.freee.co.jp/public_api/authorize
          tokenUrl: https://accounts.secure.freee.co.jp/public_api/token
          scopes:
            read: データの読み取り (read data)
            write: データの書き込み (write data)
