openapi: 3.0.3
info:
  title: freee API (Accounting and HR/Payroll) Account Items Employees API
  description: 'A representative, hand-authored subset of the public freee REST APIs for the freee Accounting product (会計freee) and the freee HR & Payroll product (人事労務freee). freee is a Japanese cloud accounting, invoicing, and HR / payroll SaaS. Accounting endpoints live under https://api.freee.co.jp/api/1 and HR / payroll endpoints under https://api.freee.co.jp/hr/api/v1. All requests are authenticated with an OAuth 2.0 (authorization code) access token sent as `Authorization: Bearer <access_token>`. Most reads and writes are scoped to a freee company via the `company_id` parameter. This document is grounded in freee''s own OpenAPI schemas (github.com/freee/freee-api-schema) but is a curated subset - it does not reproduce every operation, field, or response of the freee platform. See the official reference for the complete surface.'
  version: '2026-02-01'
  contact:
    name: freee Developers Community
    url: https://developer.freee.co.jp/
  license:
    name: © Since 2013 freee K.K.
    url: https://app.secure.freee.co.jp/developers/terms
servers:
- url: https://api.freee.co.jp
  description: freee production API host (accounting under /api/1, HR under /hr/api/v1)
security:
- oauth2:
  - read
  - write
tags:
- name: Employees
  description: HR employees (従業員).
paths:
  /hr/api/v1/employees:
    get:
      operationId: getEmployees
      tags:
      - Employees
      summary: List employees
      description: Lists employees (従業員) for an HR company and month.
      parameters:
      - name: company_id
        in: query
        required: true
        schema:
          type: integer
      - name: year
        in: query
        schema:
          type: integer
      - name: month
        in: query
        schema:
          type: integer
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A list of employees.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Employee'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createEmployee
      tags:
      - Employees
      summary: Create an employee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - company_id
              - employee
              properties:
                company_id:
                  type: integer
                employee:
                  type: object
                  additionalProperties: true
      responses:
        '201':
          description: The created employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /hr/api/v1/employees/{id}:
    parameters:
    - $ref: '#/components/parameters/PathId'
    get:
      operationId: getEmployee
      tags:
      - Employees
      summary: Get an employee
      parameters:
      - name: company_id
        in: query
        required: true
        schema:
          type: integer
      - name: year
        in: query
        schema:
          type: integer
      - name: month
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: The requested employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: updateEmployee
      tags:
      - Employees
      summary: Update an employee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company_id:
                  type: integer
                employee:
                  type: object
                  additionalProperties: true
      responses:
        '200':
          description: The updated employee.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteEmployee
      tags:
      - Employees
      summary: Delete an employee
      parameters:
      - name: company_id
        in: query
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: The employee was deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid OAuth 2.0 Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        status_code:
          type: integer
        errors:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              messages:
                type: array
                items:
                  type: string
    Employee:
      type: object
      properties:
        id:
          type: integer
        num:
          type: string
          description: Employee number (従業員番号).
        display_name:
          type: string
        entry_date:
          type: string
          format: date
        retire_date:
          type: string
          format: date
  parameters:
    Offset:
      name: offset
      in: query
      required: false
      schema:
        type: integer
    PathId:
      name: id
      in: path
      required: true
      description: The numeric identifier of the resource.
      schema:
        type: integer
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        default: 20
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'freee unified OAuth 2.0. Obtain an access token via the authorization code grant and send it as `Authorization: Bearer <access_token>` on every request. The same token works across freee products (accounting, HR/payroll, invoicing) subject to the granted scopes.'
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.secure.freee.co.jp/public_api/authorize
          tokenUrl: https://accounts.secure.freee.co.jp/public_api/token
          scopes:
            read: データの読み取り (read data)
            write: データの書き込み (write data)
